[submodule "thirds/imnodes"]
	path = thirds/imnodes
	url = https://github.com/Nelarius/imnodes.git
	shallow = true
[submodule "thirds/implot"]
	path = thirds/implot
	url = https://github.com/epezent/implot.git
	shallow = true
